<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/teams/{{gameIndex}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ team?.name }} Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img id="gameImage" [src]="selectedGame?.url"></ion-img>
    <ion-list>
      <ion-item *ngFor="let member of memberList; let i = index" [id]="'memberItem'+i">
        <ion-avatar slot="start">
          <ion-img src="https://ubaya.xyz/hybrid/160422014/project/img_member/{{member.idmember}}.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ member.username }}</h2>
          <p>Role: {{ member.desc }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>