<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title id="top-title">Our Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <h2>05 SEP</h2>
        <p>Regional Qualifier - Valorant</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <p>Team Empedu</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <h2>20 SEP</h2>
        <p>Grand Final - Mobile Legends</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <p>Team Ginjal</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <h2>29 SEP</h2>
        <p>Group Stage - CS2</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <p>Team Jantung</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>