<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="top-title">Our Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" *ngFor="let schedule of scheduleData;let i = index">
    <ion-item [routerLink]="['/our-schedule/schedule-details', i]">
      <ion-label>
        <h2>{{ schedule.date }}</h2>
        <p>{{ schedule.event }}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <p>{{ schedule.team }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>