<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="top-title">Our Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" *ngFor="let event of events;let i = index">
    <ion-item [id]="'scheduleItem' + event.idevent" [routerLink]="['/our-schedule/schedule-details', event.idevent ]">
      <ion-label>
        <h2>{{ formatDate(event.date) }}</h2>
        <p>{{ event.name }}</p>
      </ion-label>
      <!-- <ion-label slot="end" class="ion-text-end">
        <p>{{ event.team }}</p>
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>