#top-title{
    text-align: center;
}

#text-container{
    bottom:0;
    height: 70%;
    margin: 10px;
}

.liked-icon {
    color: red;
  }

#text-content{
    text-align: justify;
}

.unliked-icon {
    color: black;
  }

#text-title{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#like-container{
    text-align: right;
    margin-right: 10px;
}

#image-container{
    height: 30%;
    width: auto;
}