<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-img id="game-image" [src]="game_list[index].image"></ion-img> -->

    <ion-list lines="full" *ngFor="let team of teams; let i = index" (click)="openTeamMembers(team.idteam)" [id]="'teamList'+i">
      <!-- team members belum -->
      <ion-item>
        <ion-label class="ion-text-center">
          {{team.name}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>