<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-img [src]="game_list[index].image"></ion-img>
    </ion-item>

    <ion-list lines="full" *ngFor="let team of teams; let i = index" (click)="openTeamMembers(i)">
      <ion-item>
        <ion-label class="ion-text-center">
          {{team.name}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>