<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="top-title">What We Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content">
    <div id="card-group">
      <ion-card [id]="'gameCard'+i" *ngFor="let game of game_list; let i = index">
        <img [src]="game.image" />
        <ion-card-header>
          <ion-card-title>{{ game.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ game.description }}
        </ion-card-content>
        <ion-button routerLink="/achievement/{{i}}" expand="block">Achievements</ion-button>
        <ion-button routerLink="/teams/{{i}}" expand="block" color="secondary">Teams</ion-button>
        <!-- ini masih belum bisa ditekan. (mungkin error di index) -->
      </ion-card>
    </div>
  </div>
</ion-content>