<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-title>Achievement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <!-- <ion-img id="game-image" [src]="game_list[index].image"></ion-img> -->
    </ion-item>

    <ion-item id="filter-box">
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)]="selectedYear" placeholder="Select Year" (ionChange)="filterAchievements()">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option *ngFor="let year of availableYears" [value]="year">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-item [id]="'achievementList'+i" *ngFor="let achievement of ach_list; let i = index">
        <ion-label>
          <h2>{{achievement.name}}</h2>
          <p>{{achievement.teamname}} - {{ formatDate(achievement.date) }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>